@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{

--primary:#293681;
--blue:#4274D9;
--accent:#95CCDD;
--light:#D0E7E6;

--white:#ffffff;

--danger:#dc2626;
--success:#16a34a;

}


*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Poppins',sans-serif;

}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

background:
linear-gradient(
135deg,
#293681,
#4274D9
);

}


/* INDEX PAGE */


.app-container{

width:900px;

max-width:100%;

}



.header{

text-align:center;

color:white;

margin-bottom:30px;

}


.header h1{

font-size:38px;

}


.header i{

color:#95CCDD;

}


.header p{

margin-top:10px;

opacity:.9;

}




.prediction-card{


background:#D0E7E6;

padding:35px;

border-radius:25px;

box-shadow:
0 20px 40px rgba(0,0,0,.2);


}



.input-group{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

}



input,
select{


padding:15px;

border:none;

border-radius:12px;

background:white;

font-size:15px;

outline:none;

}



input:focus,
select:focus{

box-shadow:
0 0 0 3px rgba(66,116,217,.3);

}



button{

margin-top:25px;

width:100%;

padding:16px;

border:none;

border-radius:14px;

background:#4274D9;

color:white;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.3s;

}



button:hover{

background:#293681;

transform:translateY(-3px);

}




/* RESULT PAGE */


.result-container{


width:600px;

max-width:100%;

background:#D0E7E6;

padding:40px;

border-radius:25px;

text-align:center;


box-shadow:
0 20px 40px rgba(0,0,0,.2);


}



.result-container h1{

color:#293681;

margin-bottom:30px;

}



.result-card{


display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

margin-top:35px;


}



.result-card div{


background:white;

padding:25px;

border-radius:18px;


}



.result-card h3{

color:#293681;

}



.result-card p{


font-size:30px;

font-weight:700;

margin-top:15px;

}



.fraud{

color:#dc2626;

}



.safe{

color:#16a34a;

}




a{


display:inline-block;

margin-top:30px;

padding:13px 25px;

background:#4274D9;

color:white;

text-decoration:none;

border-radius:12px;


}



a:hover{

background:#293681;

}




@media(max-width:700px){


.input-group{

grid-template-columns:1fr;

}


.result-card{

grid-template-columns:1fr;

}


.header h1{

font-size:28px;

}


}