<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fraud Detection</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>


<body>


    <div class="app-container">


        <div class="header">

            <h1>
                <i class="fas fa-shield-halved"></i>
                FraudAI
            </h1>

            <p>
                Analyze financial transactions using Machine Learning
                to detect fraudulent activity.
            </p>

        </div>



        <form action="/predict" method="POST" class="prediction-card">


            <div class="input-group">

                <input type="number" step="any" name="amount" placeholder="Transaction Amount" required>


                <select name="type" required>

                    <option value="">
                        Transaction Type
                    </option>

                    <option value="PAYMENT">
                        Payment
                    </option>

                    <option value="TRANSFER">
                        Transfer
                    </option>

                    <option value="CASH_OUT">
                        Cash Out
                    </option>

                    <option value="CASH_IN">
                        Cash In
                    </option>

                    <option value="DEBIT">
                        Debit
                    </option>

                </select>


                <input type="number" step="any" name="oldbalanceOrg" placeholder="Old Balance Origin" required>


                <input type="number" step="any" name="newbalanceOrig" placeholder="New Balance Origin" required>


                <input type="number" step="any" name="oldbalanceDest" placeholder="Old Balance Destination" required>


                <input type="number" step="any" name="newbalanceDest" placeholder="New Balance Destination" required>


                <input type="number" step="any" name="errorBalanceOrig" placeholder="Error Balance Origin" required>


                <input type="number" step="any" name="errorBalanceDest" placeholder="Error Balance Destination"
                    required>


                <input type="number" name="hour" placeholder="Hour" required>


                <input type="number" name="day" placeholder="Day" required>


            </div>


            <button type="submit">

                <i class="fas fa-search"></i>

                Predict Fraud

            </button>


        </form>


    </div>


</body>

</html>